body{
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Hanalei Fill', cursive;
font-family: 'Pirata One', cursive;
}
.runa{
    color: coral;
}
.half-with{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 5%;
    float: left;
margin-right: 0%;
    
    

}
.half-with img{
    width: 100%;
    
}

.half-with2{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 5%;
    float: left;
margin-right: 0%;
    
    

}
.half-with2 img{
    width: 100%;
    
}


.bac{
    
    padding: 1%;
    margin: 1%;
   
}
.click{
    text-decoration: none;
    background-color: coral;
    border-radius: 5%;
    padding: 20px 30px;
    color:rgb(0, 0, 0);
    font-weight: 700;
}
.project{
    background-color: rgb(252, 252, 252);
    padding: 50px 80px;

}
